  <div class="fake-box"></div>
  <div class="main-visual">
    <div class="main-visual-box">
      <h1 class="h1-p">ペット相談アプリ</h1>
        <%= link_to "ログイン", new_user_session_path, class: 'login-button' %>
        <%= link_to "新規登録", new_user_registration_path, class: 'sigin-up-button' %>
    </div>
  </div>
  <div class="about">
    <p class="about-top-text">日々のペットの悩みをみんなで解決！</p>
    <p class="about-bottom">新しくペットを飼っていみたけど、しつけの仕方がわからない...<br>飼い主さんたちと幅広く交流したい！などのコミュニティアプリです。</p>
  </div>
  <div class="sigin-up-button-about">
    <a href="#signup-click" class="sign-up-button-about-text">新規登録して参加しよう</a>
  </div>