<div class="fake-box"></div>
<div class="contents row">
  <div class="success-update">
    <p>ありがとうございました。またのご利用を心よりお待ちしております。</p>
    <%= link_to "トップページ", root_path %>
  </div>
</div>

<div class="fake-box"></div>