<div class="fake-box"></div>
<div class="contents row">
  <div class="success">
    <p class="update-succes">編集完了しました</p>
  </div>
  <%= link_to "マイページに戻る", user_path %>
</div>

<div class="fake-box"></div>