<div class="fake-box"></div>
  <div class="success-myroom">
    <% @rooms.each do |room| %>
        <p class="meta"><%= room.room_name %>
        <%= link_to '詳細', "/rooms/#{room.id}", method: :get %>
        </p>
        <border></border>
    <% end %>
  </div>
</div>