<div class="fake-box"></div>
  <ul class="user_page-contents">
    <%  current_user.rooms.each do |room| %>
      <li style="background-image: url(<%= room.rooms.image %>)">
        <div class="meta">
          <%= room.rooms.title %></div>-->
    <% end %>
  </ul>
</div>
<div>テスト</div>