<div class="fake-box"></div>
<div>作成した相談部屋の一覧</div>
  <div class="success-myroom">
    <% @rooms.each do |room| %>
        <p class="meta"><%= room.room_name %>
        <%= link_to 'この部屋を開く', "/rooms/#{room.id}", method: :get %>
        </p>
        <hr>
    <% end %>
  </div>
</div>