<div class="fake-box"></div>
  <ul class="user_page-contents">
    <%  current_user.@rooms.each do |room| %>
      <li style="background-image: url(<%= @rooms.image %>)">
        <div class="meta">
          <%= @rooms.text %></div>-->
    <% end %>
  </ul>
</div>
<div>テスト</div>