      <div class="mypage-topbox">
        </div>
      <div class="popular-room-box">
        <p><%= "#{@users.user_name}" %>さんが作成した相談部屋</p>
        <% @myroom.each do |rooms| %>
        <div class="room-box"><a href="/rooms/<%= rooms.id %>"><%= rooms.room_name %></a></div>
        <% end %>
      </div>