<div class="fake-box"></div>
  <div class="success-myroom">
    <% @rooms.each do |room| %>
        <p class="meta"><%= room.room_name %></p>
        <%= link_to '詳細', "/rooms/#{room.id}", method: :get %>
    <% end %>
    <div class="my-name">投稿主 <%= @user.user_name %> </div>
  </div>
</div>