<div class="fake-box"></div>
  <ul class="user_page-contents">
    <% @rooms.each do |room| %>
        <div class="meta"><%= room.room_name %></div>
        <%= link_to "ルームページ一覧に進む", room.id_path %>
    <% end %>
  </ul>
</div>