<div class="fake-box"></div>
  <div class="room-host">
    <div class="my-img"></div>
    <div class="my-name">投稿主 <%= current_user.user_name %> </div>
  </div>
  <div class="room-host-title">
    <p><%= @myroom.room_name %></p>
  </div>
  <% if rails_blob_path(@myroom.image).file.nil? %>
<% else %>
      <div class="room-img">
      <div class="room-imgbox" style="background-image: url(<%= rails_blob_path(@myroom.image) %>) ">
      </div>
    </div>
<% end %>
  <div class="details">
    <p class="details-top-text">相談の詳細</p>
    <p class="details-bottom-text">ウサギが自分の糞を食べます。健康的に大丈夫でしょうか？ウサギは
      もう高齢で病気がちですが、うちの子は癖で自分の糞をよく食べます
      。知人に聞いた所によると一種の習性だと言うのですがそのような習
      性をやめさせることが出来ますでしょうか？</p>
      <p class="room-host-chat">
        <input class="room-inuput" type="submit" value="相談主とチャットする">
      </p>
    </div>
  <div class="comment-list-toptext">
    <p>コメント一覧</p>
  </div>
  <div class="room-comment">
    <div  class="room-host-img-day">
      <p>
        <div class="my-img"></div>
      </p>
      <div>
      <p class="day-text">2025/8/25</p>
      </div>
      </div>
      <div class="room-host-name">
        <p>投稿主 ここばあさん</p>
      </div>
  </div>
  <div class="comment-text">ウサギが自分の糞を食べること自体は習性で何も心配はいらないですよ、気になるのならこまめに掃除すれば良いのでは？</div>
  <div class="room-comment">
    <div  class="room-host-img-day">
      <p>
        <div class="my-img"></div>
      </p>
      <div>
      <p class="day-text">2025/8/25</p>
      </div>
      </div>
      <div class="room-host-name">
        <p>投稿主 コンコンばあさん</p>
      </div>
  </div>
  <div class="comment-text">ウサギが自分の糞を食べること自体は習性で何も心配はいらないですよ、気になるのならこまめに掃除すれば良いのでは？</div>
  <div class="comment-input">
    <p class="room-host-chat">
      <input class="room-inuput" type="submit" value="コメントする">
    </p>
  </div>