<div class="fake-box"></div>
<div class="contents row">
  <div class="success-update">
    <p>作成完了しました</p>
    <%= link_to "マイページに戻る", room_path(current_user) %>
  </div>
</div>

<div class="fake-box"></div>