  <% if user_signed_in? %>
  <div class="fake-box"></div>
  <div class="categories">
    <div class="left-categories">
      <div class="left-categories-toptext">
        <p>カテゴリー</p>
      </div>
      <div class="left-categories-items">
        <ul class="left-categorie-animals">
          <li class="categorie-animals">
          <div class="categories-triangle"></div>
          <a href="#meke-room-click" class="left-categories-text">イヌ</a>
          </li> 
          <li class="categorie-animals">
          <div class="categories-triangle"></div>
          <a href="#meke-room-click" class="left-categories-text">ネコ</a>
          </li> 
          <li class="categorie-animals">
          <div class="categories-triangle"></div>
          <a href="#meke-room-click" href="#meke-room-click" class="left-categories-text">ウサギ</a>
          </li> 
          <li class="categorie-animals">
          <div class="categories-triangle"></div>
          <a href="#meke-room-click" class="left-categories-text">サル</a>
          </li>
        </ul>
      </div>
      <div class="left-categories-SNS">
        <p>SNS</p>
      </div>
      <div class="twitter-btn">
        <a href="#meke-room-click">Twitter</a>
      </div>
      <div class="facebook-btn">
        <a href="#meke-room-click">facebook</a>
      </div>
    </div>
    <div class="right-categories">
      <div class="search-box">
        <p>相談部屋を探す</p>
        <div class="search_container-fakebox">
        <form method="get" action="#" class="search_container">
          <input type="text"  placeholder="キーワード検索">
          <div class="musimegane"><i class="fas fa-search"></i></div>
        </form>
        </div>
      </div>
      <div class="popular-room-box">
        <p>注目の相談部屋</p>
        <div class="room-box"><a href="#meke-room-click">ああああああああああああああ</a></div>
        <div class="room-box"><a href="#meke-room-click">ああああああああああああああ</a></div>
        <div class="room-box"><a href="#meke-room-click">ああああああああああああああ</a></div>
        <div class="room-box"><a href="#meke-room-click">ああああああああああああああ</a></div>
        <div class="room-box"><a href="#meke-room-click">ああああああああああああああ</a></div>
      </div>
      <div class="popular-room-box">
        <p>新着の相談部屋</p>
        <div class="room-box"><a href="#meke-room-click">ああああああああああああああ</a></div>
        <div class="room-box"><a href="#meke-room-click">ああああああああああああああ</a></div>
        <div class="room-box"><a href="#meke-room-click">ああああああああああああああ</a></div>
        <div class="room-box"><a href="#meke-room-click">ああああああああああああああ</a></div>
        <div class="room-box"><a href="#meke-room-click">ああああああああああああああ</a></div>
      </div>
    </div>
  </div>
    <% else %>
  <% end %>